:root {
  --primary-color: goldenrod;
  --secondary-color: gray;
  --border-color: lightgray;
  --background-color: darkgreen;
  --button-text-color: darkgreen;
}

* {
  font-family:'Times New Roman', Times, serif;
}

body {
  background-color: var(--background-color)
}

.main-heading {
  background-color: var(--primary-color);
  border: 5px;
  border-style: inset;
  padding: 2%;
  text-align: center;
}


.header-text {
  width: 47.5%;
  display: inline-block;
  position: relative;
  text-wrap: wrap;
}

#top-left {
  display: inline-block;
  position: relative;
  height: 40%;
  width: 12%;
  margin-right: 5%;
}

#top-right {
  display: inline-block;
  position: static;  
  height: 40%;
  width: 12%;
  margin-left: 5%;
}

.churches-main {
  border: 5px;
  border-style: inset;
  display: inline-block;
  width: 47.5%;
  margin-top: 3%;
  margin-right: 5%;
}

.churches-city {
  background-color: var(--primary-color);
  padding: 2%;
}

.location {
  background-color: dimgray;
  border: 5px;
  border-color: var(--border-color);
  border-style: ridge;
  padding: 0.5%;
  text-align: center;
}

.churches {
  background-color: gold;
  border-radius: 10px;
  border-style: ridge;
  border-color: var(--border-color);
  display: block;
  margin-top: 15px;
  padding: 3%;
  position: relative;
}

.church-image {
  display: inline-block;
  width: 27%;
  position: static;
}

.image {
  display: inline-block;
  width: 28%;
  margin-top: auto;
  margin-bottom: auto;
  position: static;
}

.church-text {
  display: inline-block;
  width: 70%;
  top: 0.5%;
  left: auto;
  position: absolute;
  text-align: center;
}

.church-link {
  color: black;
  font-size: medium;
  text-wrap: wrap;
}

.description {
  width: 42.5%;
  right: 3%;
  margin-top: 2%;
  float: right;
  position: relative;
  text-align: center;
}

.ccc-quotes {
  border: 5px;
  border-style: groove;
  background-color: var(--primary-color);
  float: right;
  width: 100%;
  margin-right: 3%;
  margin-left: 6%;
  margin-top: 10px;
  padding: 1%;
  position: relative;
  transition: 3s ease-in-out;
}

.button {
  display: inline-block;
  margin-top: 3%;
  width: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.button-container {
  background-color: var(--background-color);
  border-color: var(--secondary-color);
  border-radius: 10px;
  border-style: ridge;
  color: var(--button-text-color);
  font-weight: bold;
  margin-bottom: 2%;
  padding: 3%;
  text-wrap: wrap;
}


.ccc-quotes.inactive {
  display: none;
  position: absolute;
}

.ccc-buttons-container {
  display: block;
  width: 100%;
  right: 5%;
  position: relative;
  text-align: center;
}

.ccc-button {
  background-color: var(--primary-color);
  border-color: var(--border-color);
  border-radius: 10px;
  border-style: ridge;
  color: black;
  font-weight: bold;
  margin-top: 2%;
  padding: 3%;
  text-wrap: wrap;
}