:root {
  --primary-color: goldenrod;
}

* {
  font-family:'Times New Roman', Times, serif;
}

body {
  background-color: darkgreen;
}

.main-heading {
  padding: 2%;
  background-color: var(--primary-color);
  border: 5px;
  border-style: inset;
  text-align: center;
  margin-bottom: 3%
}

.churches-main {
  display: inline-block;
  border-style: inset;
  width: 47.5%;
  border: 5px;
  margin-right: 5%;
}

.churches-city {
  background-color: var(--primary-color);
  padding: 2%
}

.location {
  text-align: center;
  background-color: dimgray;
  padding: 0.5%;
  border: 5px;
  border-color: lightgray;
  border-style: ridge;
}

.churches {
  display: block;
  position: relative;
  background-color: gold;
  border-style: ridge;
  padding: 3%;
  height: 110px;
  border-radius: 10px;
  margin-top: 15px;
}

.church-image {
  display: inline-block;
  position: static;
  width: auto;
  left: 0.1%;
}

.church-text {
  display: inline-block;
  padding: 1%;
  position: absolute;
  left: auto;
  top: 5%;
  width: 72.5%;

}

.church-link {
  text-align: center;
}



.description {
  position: absolute;
  display: inline-block;
  text-align: center;
  width: 42.5%;
  right: 3%;
}

#quote-header {
  padding: 0.1%;
  border: 5px;
  border-style:groove;
  width: 100%;
  left: 5%;
  margin-bottom: 15px;
  background-color: var(--primary-color);
  float: right; 
}

.ccc-quotes {
  padding: 1%;
  border: 5px;
  border-style: groove;
  width: 105%;
  margin-bottom: 10px;
  background-color: goldenrod;
  float: right;
}
