@import url("../style.css");

:root {
  --primary-color: gray;
  --secondary-color: goldenrod;
  --border-color: lightgray;
  --background-color: maroon;
  --button-text-color: goldenrod;
}

body {
  background-color: var(--background-color);
}

.main-heading {
  background-color: var(--primary-color);
  border: 5px;
  border-style: inset;
  margin-bottom: 3%;
  padding: 2%;
  text-align: center;
}

.header-text {
  width: 47.5%;
  display: inline-block;
}

#top-left {
  display: inline-block;
  position: static;
  height: 80%;
  width: 20%;
  margin-right: 5%;
}

#top-right {
  display: inline-block;
  position: static;  
  height: 80%;
  width: 20%;
  margin-left: 5%;
}

.weekly-events {
  background-color: var(--primary-color);
  border: 5px;
  border-style: inset;
  display: inline-block;
  width: 42.5%;
  margin-right: 2%;
  margin-left: 1.5%;
  padding: 2%;
  position: relative;
}

.events-text {
  background-color: var(--secondary-color);
  border: 5px;
  border-color: var(--border-color);
  border-style: ridge;
  margin-bottom: 2%;
  padding: 0.5%;
  text-align: center;
}

#mass-times {
  background-color: var(--border-color);
  border-radius: 10px;
  border-style: ridge;
  display: inline-block;
  width: 40%;
  right: 4%;
  padding: 3%;
  position: absolute;
}

#left-side-left-block {
  border-radius: 10px;
  border-style: hidden;
  display: inline-block;
  width: 43%;
  position: relative;
}

.left-block {
  background-color: var(--border-color);
  border-radius: 10px;
  border-style: ridge;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  padding: 3%;
  position: relative;
}

.parish-info {
  background-color: var(--primary-color);
  border: 5px;
  border-style: inset;
  display: inline-block;
  width: 40%;
  padding: 2%;
  position: absolute;
  text-wrap: wrap;
}

.parish-header {
  background-color: var(--secondary-color);
  border: 5px;
  border-color: var(--border-color);
  border-style: ridge;
  padding: 0.5%;
  text-align: center;
}

.parish-contact {
  background-color: var(--border-color);
  border-radius: 10px;
  border-style: ridge;
  display: inline-block;
  width: 40%;
  margin-top: 2%;
  padding: 3%;
  position: relative;
}

.parish-staff {
  background-color: var(--border-color);
  border-radius: 10px;
  border-style: ridge;
  display: inline-block;
  width: 40%;
  margin-top: 2%;
  margin-left: 1%;
  padding: 3%;
  position: absolute;
}

.parish-buttons {
  text-align: center;
}

.line-break {
  color: var(--primary-color);
  display: block;
  position: relative;
}