:root {
  --primary-color: gray;
  --secondary-color: goldenrod;
  --border-color: lightgray;
}

body {
  background-color: maroon;
}

.main-heading {
  background-color: var(--primary-color);
  border: 5px;
  border-style: inset;
  margin-bottom: 3%;
  padding: 2%;
  text-align: center;
}

.header-text {
  display: inline-block;
}

#top-left {
  display: inline-block;
  position: absolute;
  top: 4.5%;
  left: 12.5%;
}

#top-right {
  display: inline-block;
  position: absolute;
  top: 4.5%;
  right: 12.5%;
}

.weekly-events {
  background-color: var(--primary-color);
  border: 5px;
  border-style: inset;
  display: inline-block;
  width: 42.5%;
  height: min-content;
  margin-right: 2%;
  margin-left: 1.5%;
  padding: 2%;
}

.events-text {
  background-color: var(--secondary-color);
  border: 5px;
  border-color: var(--border-color);
  border-style: ridge;
  padding: 0.5%;
  text-align: center;
}

#left-side-right-block {
  display: inline-block;
  position: relative;
  width: 43%;
  margin-left: 2%;
  margin-top: 2%;
  bottom: 133px;
  height: 80%;
}

#mass-times {
  background-color: var(--border-color);
  border-radius: 10px;
  border-style: ridge;
  display: inline-block;
  width: 43%;
  margin-top: 15px;
  padding: 3%;
  position: relative;
}

#confession-times {
  background-color: var(--border-color);
  border-radius: 10px;
  border-style: ridge;
  display: block;
  width: 100%;
  bottom: 15px;
  padding: 3%;
  position: relative;
}

#eucharistic-adoration {
  background-color: var(--border-color);
  border-radius: 10px;
  border-style: ridge;
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 3%;
  position: relative;
}

.parish-info {
  background-color: var(--primary-color);
  border: 5px;
  border-style: inset;
  display: inline-block;
  width: 42.5%;
  padding: 2%;
  position: relative;
}

.parish-header {
  background-color: var(--secondary-color);
  border: 5px;
  border-color: var(--border-color);
  border-style: ridge;
  padding: 0.5%;
  text-align: center;
}

.parish-contact {
  background-color: var(--border-color);
  border-style: ridge;
  border-radius: 10px;
  display: inline-block;
  margin-top: 15px;
  padding: 3%;
  position: relative;
  width: 42.5%;
}

.parish-staff {
  background-color: var(--border-color);
  border-radius: 10px;
  border-style: ridge;
  display: inline-block;
  bottom: 20px;
  width: 42.5%;
  margin-top: 15px;
  padding: 3%;
  position: relative;
}